main {
    height: calc(100% - var(--navbar-height));
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "homework_list" "homework_add";
}

.homework_list {
    grid-area: homework_list;
    width: calc(100% - 1rem);
    margin: 0.5rem;
    margin-bottom: 0;
    overflow: auto;
}

.homework_deadline {
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    border-radius: 1rem;
    background-color: var(--background3-color);
}

.homework_deadline_late {
    background-color: #8f111a;
}

.homework_deadline_soon {
    background-color: var(--accent-color);
}

.homework_deadline_date {
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
}

.homework_empty {
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--background2-color);
    color: var(--accent-color);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.homework_showall {
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--background2-color);
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.homework_showall:hover {
    color: var(--accent-color);
}

.homework_showall-text {
    font-size: 1.5rem;
    flex-grow: 1;
}

.homework_showall-icon {
    font-size: 1.5rem;
}

.homework_entry {
    position: relative;
    display: grid;
    padding: 0.5rem;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1.5rem 1rem;
    gap: 0.25rem;
    grid-template-areas: "dot task task" "dot classname deadline";
    border-bottom: 0.125rem solid var(--background-color);
    background-color: var(--background2-color);
}

.homework_entry:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.homework_entry:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.type_badge {
    font-size: 1.5rem;
    position: absolute;
    bottom: 0.25rem;
    right: 0.5rem;
    color: var(--text-color);
}

.classname {
    grid-area: classname;
    font-size: 1rem;
    color: var(--text2-color);
}

.deadline {
    grid-area: deadline;
    font-size: 1rem;
}

.task {
    grid-area: task;
    font-size: 1.5rem;
    cursor: pointer;
}

.dot {
    grid-area: dot;
    font-size: 1.5rem;
    display: grid;
    place-content: center;
    padding: 0.25rem;
}

.dot>i {
    display: block;
}


/* 
Button to add homework
*/

.homework_add {
    grid-area: homework_add;
    display: grid;
    place-items: center;
    padding: 1rem;
    background-color: var(--background2-color);
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.homework_add>div>i {
    color: var(--accent-color);
}