main {
    width: 100%;
    height: calc(100% - var(--navbar-height));
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "calendar" "add-calevent";
}

.calendar {
    grid-area: calendar;
    padding: 0.5rem 0.5rem 0 0.5rem;
    height: calc(100vh - var(--navbar-height) - 60px - 1rem);
}


/* 
Button to add calendar events
*/

.add-calevent {
    grid-area: add-calevent;
    display: grid;
    place-items: center;
    padding: 1rem;
    background-color: var(--background2-color);
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.add-calevent>div>i {
    color: var(--accent-color);
}