main {
    width: 100%;
    height: calc(100% - var(--navbar-height));
    padding: 1rem;
    overflow-x: auto;
}

.group_container {
    background-color: var(--background2-color);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.group_container:last-child {
    margin-bottom: 0;
}

.container-title {
    color: #bbb;
    margin-left: 0.75rem;
    margin-bottom: 0.25rem;
}

.container_item {
    display: block;
    padding: 0.25rem 0;
    border-bottom: 1px solid #888;
}

.container_item:last-child {
    border-bottom: 0;
}

.button_divider {
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.button_divider>div {
    display: grid;
    place-content: center;
    text-align: center;
    padding: 0.25rem;
    flex-grow: 1;
    min-height: 48px;
}

.button_divider-button_active {
    background-color: var(--background3-color);
    border-radius: 0.25rem;
}

.dropdown_container {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
}

.dropdown_container-name {
    flex-grow: 1;
    font-size: 1.25rem;
}

.dropdown_container-dropdown_icon {
    font-size: 1.25rem;
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;
}

nav {
    /* Add a little border with the background color to the top of the navbar to generate contrast between the navigation and the settings */
    border-top: 0.25rem solid var(--background-color)
}


/* 
Account settings
*/

#account-settings {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "account-greeting account-icon";
}

.account-icon {
    grid-area: account-icon;
    display: grid;
    place-items: center;
    font-size: 2rem;
    color: var(--accent-color);
}

.account-greeting {
    grid-area: account-greeting;
    display: flex;
    flex-direction: column;
}

#account_greeting-naa {
    color: #bbb;
    font-size: 0.75rem;
}

#account_greeting-name {
    font-size: 1.25rem;
}


/* 
Grade settings
*/

#grade-settings {
    padding: 0.75rem;
}