main {
    width: 100%;
    height: calc(100% - var(--navbar-height));
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "class_title class_edit" "class-main_content class-main_content" "grade_add grade_add";
}

.class_title {
    grid-area: class_title;
}

.class_edit {
    grid-area: class_edit;
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.class_title h1 {
    margin: 1rem;
}

#view_toggle {
    transition: 0.5s;
}

.class-main_content {
    grid-area: class-main_content;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar_icon {
    cursor: pointer;
}

/* Type section */

.type {
    display: flex;
    flex-direction: column;
    background-color: var(--background2-color);
    margin: 0.5rem 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.type-title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.type-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    grid-auto-flow: row;
    grid-template-areas: "type_k type_m" "type_t type_s";
}

.type-container>div {
    aspect-ratio: 3/1;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
}

.type-container>div:not(.type_active) {
    background-color: var(--background3-color);
}

.type_active {
    background-color: var(--accent-color);
}

.type_k {
    grid-area: type_k;
}

.type_m {
    grid-area: type_m;
}

.type_t {
    grid-area: type_t;
}

.type_s {
    grid-area: type_s;
}

/* Note section */

.note {
    display: flex;
    flex-direction: column;
    background-color: var(--background2-color);
    margin: 0.5rem 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.note-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.note-container {
    display: flex;
}

.note-container>input {
    flex-grow: 1;
    resize: vertical;
    border-radius: 0.5rem;
    border: 0;
    outline: 0;
    background-color: var(--background3-color);
    color: var(--text-color);
    font-size: 1.5rem;
    max-width: 100%;
}


/* Date Section */

.date {
    display: flex;
    flex-direction: row;
    background-color: var(--background2-color);
    margin: 0.5rem 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.date-title {
    flex-grow: 1;
    font-size: 1.5rem;
}

.date-input {
    flex-shrink: 1;
}

.date-input>input {
    text-align: center;
    width: 100%;
    background-color: var(--background3-color);
    border: 0;
    color: var(--text-color);
    padding: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}


/* 
Button to add grades
*/

.grade_add {
    grid-area: grade_add;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: var(--background2-color);
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.grade_add div {
    flex-grow: 1;
    text-align: center;
}

.grade_add>div>i {
    color: var(--accent-color);
    font-size: 1.5rem;
}