main {
    display: flex;
    flex-direction: column;
    height: calc(100% - 4rem);
}


/* Classlist */

.class_list {
    width: 100%;
    height: calc(100% - var(--navbar-height));
    overflow: auto;
}

.class_entry {
    width: calc(100% - 1rem);
    margin: 0.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "class_entry-name class_entry-average";
    background-color: var(--background2-color);
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.25rem solid;
}

.class_entry-name {
    grid-area: class_entry-name;
}

.class_entry-average {
    grid-area: class_entry-average;
    text-align: end;
}


/* 
Button to add grades
*/

.class_add {
    grid-area: class_add;
    display: grid;
    place-items: center;
    padding: 1rem;
    background-color: var(--background2-color);
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.class_add>div>i {
    color: var(--accent-color);
}


/* Nav */

nav {
    /* Add a little border with the background color to the top of the navbar to generate contrast between the navigation and the classes */
    border-top: 0.25rem solid var(--background-color)
}