main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "welcome_container" "button_container";
    width: 100%;
    height: 100%;
}

.welcome_container {
    grid-area: welcome_container;
}

.button_container {
    grid-area: button_container;
    position: relative;
}

.welcome {
    margin: 0 auto;
    width: 80%;
}

.welcome * {
    margin: 0;
    padding: 0;
}

#welcome_title {
    font-size: 5rem;
    margin-top: 1.5rem;
    display: block;
}

.welcome p {
    font-size: 5vmin;
}

.button_container {
    bottom: 0;
    padding-bottom: 2.5rem;
    width: 100%;
    z-index: 50;
}


/* 
Background images
*/

.background_img {
    width: 100%;
    background-size: cover;
    z-index: 1;
}

.buttons_bg {
    background-image: url("/res/img/login_bottom.png");
    z-index: 1;
    position: absolute;
    bottom: 0;
    height: 100vw;
    max-height: 75vh;
}

.welcome_bg {
    background-image: url("/res/img/login_topleft.png");
    z-index: 1;
    position: absolute;
    top: 0;
    height: 100vw;
    max-height: 75vh;
}

main * {
    z-index: 50;
}


/* 
The buttons
*/

.buttons button {
    margin: 0.5rem auto;
    display: block;
    width: 80%;
    height: 2.5rem;
    border-radius: 0.25rem;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
}

.buttons button i {
    position: absolute;
    right: 1rem;
    margin: 0 auto;
}

#button_login {
    background-color: var(--text-color);
}

#button_register {
    background-color: transparent;
    border: 1px solid var(--text-color);
    color: var(--text-color);
}


/* 
Orientation landscape

NOTE: This has been deactivated because this version will only be used on mobile.
*/

@media screen and (orientation: landscape) {
    main {
        grid-template-areas: "welcome_container button_container";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .buttons_bg {
        background-image: url("/res/img/login_bottomright.png");
        right: 0;
        width: 75vw;
        height: 100%;
    }
    .buttons button {
        height: 10vmin;
        font-size: 3vmin;
        border-radius: 1vmin;
    }
    .welcome_bg {
        background-image: url("/res/img/login_topleft.png");
        left: 0;
        width: 100vh;
        height: 100vh;
    }
    .buttons {
        width: 100%;
        position: absolute;
        bottom: 2.5rem;
    }
    .welcome>p {
        max-width: 50vh;
    }
}