/* Grade section */

.grade {
    display: flex;
    flex-direction: column;
    background-color: var(--background2-color);
    margin: 0.5rem 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.grade-title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.grade-container_1-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    grid-auto-flow: row;
    grid-template-areas: "gr1 gr2 gr3" "gr4 gr5 gr6";
}

.gr1 {
    grid-area: gr1;
    background-color: #179113;
}

.gr2 {
    grid-area: gr2;
    background-color: #3b9113;
}

.gr3 {
    grid-area: gr3;
    background-color: #81b81c;
}

.gr4 {
    grid-area: gr4;
    background-color: #b0b81c;
}

.gr5 {
    grid-area: gr5;
    background-color: #b8891c;
}

.gr6 {
    grid-area: gr6;
    background-color: #d14838;
}

.grade-container_1-6>div {
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    font-size: 10vw;
    border-radius: 0.5rem;
}

.grade-modifier_container {
    position: relative;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    grid-auto-flow: row;
    grid-template-areas: "gr-full gr-025 gr-050 gr-075";
}

.grade-modifier_container>i {
    position: absolute;
    top: -2.25rem;
    right: 0.25rem;
    font-size: 1.5rem;
    color: var(--text-color);
}

.gr-025 {
    grid-area: gr-025;
}

.gr-050 {
    grid-area: gr-050;
}

.gr-075 {
    grid-area: gr-075;
}

.gr-full {
    grid-area: gr-full;
}

.grade-modifier_container>div>span {
    display: inline;
}

.grade-modifier_container>div {
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;
    font-size: 5vw;
    border-radius: 0.5rem;
}

.grade-modifier_container>div:not(.grade-modify_active) {
    background-color: var(--background3-color);
}

.gr-full {
    background-color: #179113;
}

.gr-025 {
    background-color: #81b81c;
}

.gr-050 {
    background-color: #b8891c;
}

.gr-075 {
    background-color: #d14838;
}