body {
    margin: 0;
}

html main {
    display: grid;
}

h1 {
    margin: 1rem;
    font-size: 5rem;
}

form {
    width: 100vw;
    padding: 1rem;
}

.input {
    margin-bottom: 0.5rem;
    width: 100%;
    border-radius: 1rem;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    color: #fff;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: 0;
}

legend {
    margin-left: 0.4rem;
    font-size: 1rem;
}


/* 
Background images
*/

.background_img {
    width: 100%;
    background-size: cover;
    z-index: 1;
}

.buttons_bg {
    background-image: url("/res/img/login_bottom.png");
    z-index: 1;
    position: absolute;
    bottom: 0;
    height: 100vw;
    max-height: 75vh;
}

.welcome_bg {
    background-image: url("/res/img/login_topleft.png");
    z-index: 1;
    position: absolute;
    top: 0;
    height: 100vw;
    max-height: 75vh;
}

main * {
    z-index: 50;
}


/* 
The buttons
*/

input[type="submit"] {
    display: block;
    width: calc(100vw - 2rem);
    background-color: var(--text-color);
    color: var(--background-color);
    height: 2.5rem;
    border-radius: 0.25rem;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

.password_reset {
    position: absolute;
    bottom: 4rem;
    left: 1rem;
    right: 1rem;
    text-decoration: underline;
    cursor: pointer;
}


/* 
Orientation landscape

NOTE: This has been deactivated because this version will only be used on mobile.
*/

@media screen and (orientation: landscape) {
    html main {
        grid-template-rows: min-content 1fr;
    }
    .buttons_bg {
        background-image: url("/res/img/login_bottomright.png");
        right: 0;
        width: 75vw;
        height: 100%;
    }
    .welcome_bg {
        background-image: url("/res/img/login_topleft.png");
        left: 0;
        width: 100vh;
        height: 100vh;
    }
    legend {
        font-size: 1.25rem;
    }
    .input {
        width: fit-content;
    }
    input[type="text"],
    input[type="password"] {
        width: 50vh;
        height: 5vh;
        font-size: 1.25rem;
    }
    .welcome>p {
        max-width: 50vh;
    }
    #register_button {
        width: 50vh;
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        left: auto;
        font-size: 1.5rem;
        height: 4rem;
        border-radius: 0.75rem;
    }
    .password_reset {
        bottom: 5.5rem;
        left: auto;
    }
}