main {
    width: 100%;
    height: calc(100% - var(--navbar-height));
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "class_title class_edit" "class-main_content class-main_content" "grade_add grade_add";
}

.class_title {
    grid-area: class_title;
}

.class_edit {
    grid-area: class_edit;
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.class_title h1 {
    margin: 1rem;
}

#view_toggle {
    transition: 0.5s;
}

.class-main_content {
    grid-area: class-main_content;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Type section */

.type {
    display: flex;
    flex-direction: column;
    background-color: var(--background2-color);
    margin: 0.5rem 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.type-title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.type-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    grid-auto-flow: row;
    grid-template-areas: "type_k type_m" "type_t type_o";
}

.type-container>div {
    aspect-ratio: 3/1;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
}

.type-container>div:not(.type_active) {
    background-color: var(--background3-color);
}

.type_active {
    background-color: var(--accent-color);
}

.type_k {
    grid-area: type_k;
}

.type_m {
    grid-area: type_m;
}

.type_t {
    grid-area: type_t;
}

.type_o {
    grid-area: type_o;
}


/* Grade section */

.grade {
    display: flex;
    flex-direction: column;
    background-color: var(--background2-color);
    margin: 0.5rem 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.grade-title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.grade-container_1-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    grid-auto-flow: row;
    grid-template-areas: "gr1 gr2 gr3" "gr4 gr5 gr6";
}

.gr1 {
    grid-area: gr1;
    background-color: #179113;
}

.gr2 {
    grid-area: gr2;
    background-color: #3b9113;
}

.gr3 {
    grid-area: gr3;
    background-color: #81b81c;
}

.gr4 {
    grid-area: gr4;
    background-color: #b0b81c;
}

.gr5 {
    grid-area: gr5;
    background-color: #b8891c;
}

.gr6 {
    grid-area: gr6;
    background-color: #d14838;
}

.grade-container_1-6>div {
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    font-size: 10vw;
    border-radius: 0.5rem;
}

.grade-modifier_container {
    position: relative;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    grid-auto-flow: row;
    grid-template-areas: "gr-full gr-025 gr-050 gr-075";
}

.grade-modifier_container>i {
    position: absolute;
    top: -2.25rem;
    right: 0.25rem;
    font-size: 1.5rem;
    color: var(--text-color);
}

.gr-025 {
    grid-area: gr-025;
}

.gr-050 {
    grid-area: gr-050;
}

.gr-075 {
    grid-area: gr-075;
}

.gr-full {
    grid-area: gr-full;
}

.grade-modifier_container>div>span {
    display: inline;
}

.grade-modifier_container>div {
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;
    font-size: 5vw;
    border-radius: 0.5rem;
}

.grade-modifier_container>div:not(.grade-modify_active) {
    background-color: var(--background3-color);
}

.gr-full {
    background-color: #179113;
}

.gr-025 {
    background-color: #81b81c;
}

.gr-050 {
    background-color: #b8891c;
}

.gr-075 {
    background-color: #d14838;
}


/* Note section */

.note {
    display: flex;
    flex-direction: column;
    background-color: var(--background2-color);
    margin: 0.5rem 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.note-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.note-container {
    display: flex;
}

.note-container>textarea {
    flex-grow: 1;
    resize: vertical;
    border-radius: 0.5rem;
    border: 0;
    outline: 0;
    background-color: var(--background3-color);
    color: var(--text-color);
    font-size: 1.5rem;
    max-width: 100%;
}


/* Date Section */

.date {
    display: flex;
    flex-direction: row;
    background-color: var(--background2-color);
    margin: 0.5rem 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.date-title {
    flex-grow: 1;
    font-size: 1.5rem;
}

.date-input {
    flex-shrink: 1;
}

.date-input>input {
    text-align: center;
    width: 100%;
    background-color: var(--background3-color);
    border: 0;
    color: var(--text-color);
    padding: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}


/* 
Button to add grades
*/

.grade_add {
    grid-area: grade_add;
    display: grid;
    place-items: center;
    padding: 1rem;
    background-color: var(--background2-color);
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.grade_add>div>i {
    color: var(--accent-color);
}